@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: linear-gradient(rgba(48, 255, 2, 0.3),#ff990049);
}
a{
    text-decoration: none;
}
header{
    background-color: rgb(1, 207, 1);
    z-index: 1000;
    padding: 10px 0px;
}
header nav{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
header h2{
    margin-top: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
header h2 span{
    color: aliceblue;
}
header ul{
    margin-top: 20px;
    list-style: none;
    display: flex;
    width: fit-content;
}
header ul li a:hover{
    letter-spacing: 2px;
    text-decoration: underline;
    cursor: pointer;
}
header ul li a{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 0 10px;
    transition: 0.2s;
}
.sign{
    height: 70px;
    width: 5%;
    background-color: orange;
    border-radius: 20px;
    border: 5px solid white;
    cursor: pointer;
}

section{
    height: 705px;

}

/* formulaire pour ajouter un article */

section div h4{
    margin-top: 30px;
    margin-bottom: 10px; 
    font-size: 35px;
    text-decoration: underline;
    text-align: center;
}
form{
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border-radius: 10px;
    width: 40%;
}
fieldset{
    padding: 30px;
    border: none;
    border-radius: 50px;

}
form fieldset .champ{
    display: flex;
    margin-bottom:20px ;
    justify-content: space-between;
}
form fieldset label{
    font-size: 18px;
    color: black;
}
fieldset select option,form .formulaire input{
    font-size: 16px;
    color: black;
    text-align: center;
}
form .formulaire input, select{
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    outline: 0;
    width: 70%;
    height: 50px;
}
.bouton{
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: rgb(1, 207, 1);
    padding: 10px;
    width: fit-content;
    letter-spacing: 1px;
}
.double{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 50%;
}
/*tableau pour articles*/

.tableau .nouveau{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-left: 4px;
}
.tableau .nouveau a{
    border-radius: 5px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: rgb(1, 207, 1);
    padding: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border-radius: 10px;
    text-align: center;
    width: fit-content;
    padding: 5px;
}

th{
    font-size: 20px;
}
th, td {
    padding: 7px;
    transition: 0.5s;
    cursor: pointer;
}
th:hover,td:hover{
    border: 1px solid white
}